<div class="calculator">
    <h1 class="title">Calculadora elaborada por el desarrollador web <span class="developer-name">YGeovanni</span> en Angular</h1>
    <div class="display">{{ result }}</div>
    <div class="buttons">
      <button (click)="handleButtonClick('7')">7</button>
      <button (click)="handleButtonClick('8')">8</button>
      <button (click)="handleButtonClick('9')">9</button>
      <button (click)="handleButtonClick('+')">+</button>
      <button (click)="handleButtonClick('4')">4</button>
      <button (click)="handleButtonClick('5')">5</button>
      <button (click)="handleButtonClick('6')">6</button>
      <button (click)="handleButtonClick('-')">-</button>
      <button (click)="handleButtonClick('1')">1</button>
      <button (click)="handleButtonClick('2')">2</button>
      <button (click)="handleButtonClick('3')">3</button>
      <button (click)="handleButtonClick('*')">*</button>
      <button (click)="handleButtonClick('0')">0</button>
      <button (click)="handleButtonClick('.')">.</button>
      <button (click)="handleButtonClick('/')">/</button>
      <button (click)="handleButtonClick('C')">C</button>
      <button (click)="handleButtonClick('=')">=</button>
    </div>
  </div>
  